* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab {
  display: flex;
}

.tab li {
  padding: 10px;
  border: 1px solid #000;
  border-right: 0 none;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.tab li:hover {
  background-color: skyblue;
}

.tab li:last-child {
  border-right: 1px solid #000;
}

.tab li.active {
  background: pink;
}

.content {
  width: 500px;
  height: 300px;
  /* background-color: skyblue; */
  border: 1px solid #000;
  padding: 16px;
}
